@font-face {
  font-family: Chillax;
  src: url(../../fonts/Chillax-Medium.woff2);
}

@font-face {
  font-family: Chillax;
  src: url(../../fonts/Chillax-Regular.woff2);
}

@font-face {
  font-family: Bitter Rose;
  src: url(../../fonts/Bitter-Rose.ttf);
}

@font-face {
  font-family: Cabinet Grotes;
  src: url(../../fonts/CabinetGrotesk-Medium.woff2);
}
